main{
    font-family: 'Gabarito', sans-serif;
    font-family: 'Libre Franklin', sans-serif;
}

ul {
    position:sticky;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

li{
    border-right: 1px solid #bbb;
    float: left;
}

a{
    display: block;
    text-align: center;
    padding: 25px 30px;
    background-color: gray;
    font-size: 100%;
}

li a:hover {
    background-color: #a3ffa0;
}

.active{
    background-color: #a3ffa0;
}

img{
    object-fit: contain;
}

